.pan-title {
  font-family: "Catamaran", sans-serif !important;
  font-weight: 900;
}
.align-r img {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
.align-r {
  text-align: center;
}
.img-full {
  width: 100%;
}
.bold {
  font-weight: 800;
}
