/*Forma*/
.forma {
  padding: 50px 0px 0px 0px;
}
.forma img {
  width: 100%;
}
.forma .row {
  border-bottom: 2px solid #b07832;
}
.forma .bold {
  font-weight: bolder;
  font-size: 1.3em;
}
.forma .bolder {
  font-weight: bolder;
  font-size: 1.8em;
}
.forma .middle-align {
  vertical-align: middle;
}
.forma blockquote {
  font-size: 1em;
}
.forma .big_t {
  font-size: 1.8em;
  font-weight: bolder;
  line-height: 0.9em;
}
