a {
  text-decoration: none !important;
  color: #777;
}
a:hover {
  color: black;
}

/*Logo*/
.navbar-brand {
  padding: 3px 15px;
}
.navbar-brand img {
  height: 45px;
}

@media (min-width: 768px) {
  .navigation {
    background-color: #fff;
    padding: 0;
  }
  .navigation:not(.fixed-top) {
    position: initial;
    top: -90px;
  }
  .navigation.hidden {
    position: absolute;
  }
  .navigation.fixed-top {
    background-color: transparent;
  }
  .navigation.fixed-top .navbar-collapse {
    height: auto;
  }
  .navigation.fixed-top .nav-item .nav-link {
    color: #fff;
  }
  .navigation.fixed-top .nav-item.active,
  .navigation.fixed-top .nav-item:hover {
    color: #d9d9d9;
  }
  .navigation.navbar-sticky {
    background-color: #fff;
    top: 0;
  }
  .navigation.navbar-sticky .nav-item .nav-link {
    color: #646f79;
  }
  .navigation.navbar-sticky .nav-item.active .nav-link,
  .navigation.navbar-sticky .nav-item:hover .nav-link {
    color: #7e80e7;
  }
  .navigation.navbar-expanded .navbar-brand,
  .navigation.navbar-expanded .navbar-toggler,
  .navigation.navbar-expanded ~ main {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .navigation.sidebar-left .collapse {
    left: 0;
    border-right: none;
  }
  .navigation.sidebar-right .collapse {
    right: 0;
    border-left: none;
  }
  .navigation.sidebar-right .navbar-brand {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .navigation.dark-link .nav-item .nav-link {
    color: #143350;
    opacity: 0.7;
  }
  .navigation.dark-link .nav-item.active .nav-link,
  .navigation.dark-link .nav-item:hover .nav-link {
    opacity: 1;
    color: #050c13;
  }
  .navigation .collapse {
    position: relative;
    width: auto;
    background: 0 0;
    overflow-y: initial;
  }
  .navigation .nav-item .nav-link {
    color: #41494f;
    padding: 34px 15px;
    height: 90px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navigation .nav-item .nav-link i {
    display: none;
  }
  .navigation .nav-item.active .nav-link,
  .navigation .nav-item:hover .nav-link {
    color: #363c41;
  }
  .navigation .sidebar-brand {
    display: none;
  }
  .navigation .dropdown {
    position: initial;
  }
  .navigation .dropdown-menu {
    margin-top: -34px;
  }
}

.nav-pills-light .nav-link {
  opacity: 0.7;
  color: #1f2225;
  border: 1px solid transparent;
}

.nav-pills-light .nav-link.active,
.nav-pills-light .nav-link:hover {
  opacity: 1;
}

.nav-pills-light .nav-link.active {
  background-color: #fff;
  color: #1f2225;
  -webkit-box-shadow: 0 0 64px rgba(187, 197, 214, 0.5);
  box-shadow: 0 0 64px rgba(187, 197, 214, 0.5);
  border: 1px solid #d8e1e5;
}

.nav-pills-outline .nav-link {
  border-radius: 0;
  padding: 0.5rem;
  position: relative;
}

.nav-pills-outline .nav-link:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
  content: "";
  height: 2px;
  background-color: #007bff;
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
}

.nav-pills-outline .nav-link.active {
  background-color: #fff;
  color: #007bff;
}

.nav-pills-outline .nav-link.active:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.list-process li .step {
  display: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #c0262d;
}
