.container-container-wrapper {
  display: flex;
  flex-direction: row;
  /* width: 650px; */
  flex-wrap: nowrap;
}
.container-wrapper-left {
  position: relative;
  padding: 10px;
  width: 65%;
  display: flex;
  /* border: 2px solid black; */
  /* background-color: lightblue; */
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.container-induvidual,
.container-induvidual-click {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
}

.circle {
  margin: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  text-align: center;
  font-style: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d4d5f7;
}

.circle:hover {
  cursor: pointer;
}

/* .container-induvidual .circle:hover {
    background-color: red;
    cursor: pointer;
    animation-name: enlarge;
    animation-duration: 50ms;
    animation-fill-mode: both;
  } */

.container-induvidual-click .circle {
  cursor: pointer;
  animation-name: enlarge;
  animation-duration: 50ms;
  animation-fill-mode: both;
}

@keyframes enlarge {
  from {
    background-color: #d4d5f7;
  }
  to {
    background-color: darkslateblue;
    /* background: radial-gradient(
      ellipse at center,
      #d4d5f7 0%,
      #7e80e7 70%,
      #3b3e9b 100%
    ); */
  }
}
/* .container-induvidual .component:hover {
    cursor: pointer;
    background-color: darkslateblue;
  } */
.container-induvidual-click .component {
  cursor: pointer;
  background-color: darkslateblue;
  color: white;
}
.component {
  display: block;
  min-width: 20%;
  width: 80%;
  /* border: 1px solid black; */
  min-height: 100% !important;

  margin-left: 10px;
  padding: 0px 10px 5px 15px;

  border-radius: 5px;
}
.component:hover {
  /* background-color: red; */
  cursor: pointer;
  background-color: grey;
}
/*
  right side
  */
.rectangular-box {
  /* border: 1px solid black; */
  flex: 1;
  text-align: center;
  transition: 0.3s;
  max-width: 15%;
  /* padding: 8em 0; */
  /* background-color: #ccc; */
  min-width: 10%;
}
.rectangular-box-hover {
  /* border: 1px solid black; */
  text-align: center;
  /* padding: 8em 0; */
  transition: 0.8s;
  max-width: 80% !important;
  /* background: #333; */
  flex-grow: 2;
  /* color: #fff; */
}
.container-wrapper-right {
  /* position: relative; */
  padding: 10px;
  width: 52%;
  height: 650px;
  display: flex; /* border: 2px solid black; */ /* background-color: lightblue; */
  flex-direction: row;
}
.container-wrapper-right img {
  max-height: 100%;
}

@media screen and (max-width: 990px) {
  .container-wrapper-right {
    display: none;
  }
  .container-wrapper-left {
    width: 100%;
  }
}
