@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Anton|Passion+One");

body {
  font-family: "Lato", sans-serif !important;
  max-width: 1370px;
  margin: auto !important;
  padding-top: 75px;
}

.displayred > a {
  color: white !important;
  background-color: #c0262d !important;
}

.centerizeforms {
  display: flex;
  justify-content: center;
}

/*Logo*/
.navbar-brand {
  padding: 3px 15px;
}
.navbar-brand img {
  height: 45px;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: darkgray;
  color: white;
}
.naver > li > a.active {
  background-color: indianred;
  color: white;
}

/*Cute Box*/
.cute-box {
  border-radius: 15px;
  background-color: #b07832;
  min-height: 250px;
  margin: 10px;
  color: white;
  padding: 30px 25px 25px 25px;
}

/*Jumbo*/
.patron {
  border-bottom: 2px solid #b07832;
  border-top: 2px solid #b07832;
}
.patron img {
  width: 100%;
}

/*Forma*/
.forma {
  padding: 50px 0px 0px 0px;
}
.forma img {
  width: 100%;
}
.forma .row {
  border-bottom: 2px solid #b07832;
}
.forma .bold {
  font-weight: bolder;
  font-size: 1.3em;
}
.forma .bolder {
  font-weight: bolder;
  font-size: 1.8em;
}
.forma .middle-align {
  vertical-align: middle;
}
.forma blockquote {
  font-size: 1em;
}
.forma .big_t {
  font-size: 1.8em;
  font-weight: bolder;
  line-height: 0.9em;
}

.error {
  color: red;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.main-over img {
  width: 100%;
}

.linkers {
  padding-bottom: 75px;
}
.side-over {
  text-align: right;
}
.side-over .bold {
  font-weight: bolder;
  font-size: 1.3em;
  line-height: 0.9em;
}

.main-over {
  border-left: 1px solid #b07832;
}

/*
 * !importants make me sad
 */
.progress {
  height: 10px !important;
  margin-bottom: 0px !important;
}

/*
 * For Spinner
 */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

.navbar-brand {
  cursor: pointer;
}

.desk-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 990px) {
  .desk-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

/* Register side menu */
.btn-sidemenu {
  padding: 10px 10px !important;
  margin-bottom: 5px !important;
  background-color: #b07832 !important;
  border-radius: 0px !important;
  color: white !important;
  border-left: 4px solid brown !important;
}
.side-menu {
  padding-right: 0px !important;
}
